* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

@font-face {
    font-family: 'Gwendolyn';
    src: url('./Gwendolyn-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin:0 auto;
}

body{
    background-color:black;
}



.cursive{
    font-family: 'Gwendolyn';
    font-size:6em;
}

.title{
    margin-top: 2em;
    color:white;
    
}

.subtitle{
    color:#c59d5f;
    font-size:1.5em;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom:2px double #c59d5f;
    height: 12vh;


}

#git-hub-icon{
    max-width:1.3em;
    margin-left:0.5em;
}

#git-hub-link:hover{
    opacity:70%;
}

footer{
    border-top:2px double #c59d5f;

    height: 12vh;
    color: white;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer p{
    color: white;
}

#map{
    margin-top:1em;
}

#dish-div{
    margin-top:3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dish-div p{
    color:#262626;
}

header a {
    text-decoration: none;
    color:white;
    margin: 1em;
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    transition: all 1s ease-out;
}

@media only screen and (max-width: 600px) {
    header {
        font-size: 1.2em;
    }
}


header a:hover {
    transform: translateY(6px);
}

main::-webkit-scrollbar-thumb {
    background-color: #c59d5f;
    outline: 1px solid white;
}

main::-webkit-scrollbar {
    width: 1em;
    background-color: white;
    outline: 1px solid white;
  }

main{
    height: 100%;
    overflow-y: auto; 
}

p{
    color:white;

}
hr{
    border: 1px solid #c59d5f;
    width:50%;
    margin-top:0.5em;
}

h3{
    margin-top:1em;
    color:#c59d5f; 
}
